################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Alkambia.Application.LoanMonitoring/.vs/Alkambia.Application.LoanMonitoring
/Alkambia.Application.LoanMonitoring/Alkambia.App.LoanMonitoring.BusinessTransactions/bin
/Alkambia.Application.LoanMonitoring/Alkambia.App.LoanMonitoring.BusinessTransactions/obj
/Alkambia.Application.LoanMonitoring/Alkambia.App.LoanMonitoring.Constant/bin
/Alkambia.Application.LoanMonitoring/Alkambia.App.LoanMonitoring.Constant/obj
/Alkambia.Application.LoanMonitoring/Alkambia.App.LoanMonitoring.Enums/bin
/Alkambia.Application.LoanMonitoring/Alkambia.App.LoanMonitoring.Enums/obj
/Alkambia.Application.LoanMonitoring/Alkambia.App.LoanMonitoring.Interface/bin/Debug
/Alkambia.Application.LoanMonitoring/Alkambia.App.LoanMonitoring.Interface/obj/Debug
/Alkambia.Application.LoanMonitoring/Alkambia.App.LoanMonitoring.IRepository/obj
/Alkambia.Application.LoanMonitoring/Alkambia.App.LoanMonitoring.Repository/bin/Release
/Alkambia.Application.LoanMonitoring/Alkambia.App.LoanMonitoring.Repository/obj
/Alkambia.Application.LoanMonitoring/Alkambia.Application.LoanMonitoring/obj/Debug
/Alkambia.Application.LoanMonitoring/Alkambia.Application.LoanMonitoring.DataSource/bin
/Alkambia.Application.LoanMonitoring/Alkambia.Application.LoanMonitoring.DataSource/obj
/Alkambia.Application.LoanMonitoring/Alkambia.Application.LoanMonitoring.Helper/bin
/Alkambia.Application.LoanMonitoring/Alkambia.Application.LoanMonitoring.Helper/obj
/Alkambia.Application.LoanMonitoring/Alkambia.Application.LoanMonitoring.Model/bin
/Alkambia.Application.LoanMonitoring/Alkambia.Application.LoanMonitoring.Model/obj
/Alkambia.Application.LoanMonitoring/Alkambia.Application.LoanMonitoring.Repository/bin/Debug
/Alkambia.Application.LoanMonitoring/Alkambia.Application.LoanMonitoring.Repository/obj/Debug
/Alkambia.Application.LoanMonitoring/Alkambia.Application.LoanMonitoring.Repository.Interface/bin/Debug
/Alkambia.Application.LoanMonitoring/Alkambia.Application.LoanMonitoring.Repository.Interface/obj/Debug
/Alkambia.Application.LoanMonitoring/Alkambia.Application.LoanMonitoring.Transaction/bin/Debug
/Alkambia.Application.LoanMonitoring/Alkambia.Application.LoanMonitoring.Transaction/obj/Debug
/Alkambia.Application.LoanMonitoring/Alkambia.WPF.LoanMonitoring/bin
/Alkambia.Application.LoanMonitoring/Alkambia.WPF.LoanMonitoring/obj
/Alkambia.Application.LoanMonitoring/ConsoleApp.Test/bin/Release
/Alkambia.Application.LoanMonitoring/ConsoleApp.Test/obj
/Alkambia.Application.LoanMonitoring/packages
/Alkambia.Application.LoanMonitoring/Alkambia.App.LoanMonitoring.IRepository/bin/Release
/.vs
/Alkambia.Application.LoanMonitoring/Alkambia.App.LoanMonitoring.Interface/obj/Release
/Alkambia.Application.LoanMonitoring/Alkambia.App.LoanMonitoring.Constant/.vs
/Alkambia.Application.LoanMonitoring/Alkambia.App.LoanMonitoring.Enums/.vs
/Alkambia.Application.LoanMonitoring/Alkambia.App.LoanMonitoring.IRepository/.vs
/Alkambia.Application.LoanMonitoring/Alkambia.App.LoanMonitoring.IRepository/bin/Debug
/Alkambia.Application.LoanMonitoring/Alkambia.App.LoanMonitoring.Repository/.vs
/Alkambia.Application.LoanMonitoring/Alkambia.App.LoanMonitoring.Repository/bin/Debug
/Alkambia.Application.LoanMonitoring/Alkambia.Application.LoanMonitoring.DataSource/.vs
/Alkambia.Application.LoanMonitoring/Alkambia.Application.LoanMonitoring.Helper/.vs
/Alkambia.Application.LoanMonitoring/Alkambia.Application.LoanMonitoring.Model/.vs
/Alkambia.Application.LoanMonitoring/Alkambia.WPF.LoanMonitoring/.vs
/Alkambia.Application.LoanMonitoring/Alkambia.App.LoanMonitoring.BusinessTransactions/.vs
/Alkambia.Application.LoanMonitoring/Alkambia.Application.LoanMonitoring/obj/Release
/Alkambia.Application.LoanMonitoring/Alkambia.Application.LoanMonitoring.Repository/obj/Release
/Alkambia.Application.LoanMonitoring/Alkambia.Application.LoanMonitoring.Repository.Interface/obj/Release
/Alkambia.Application.LoanMonitoring/Alkambia.Application.LoanMonitoring.Transaction/obj/Release
/Alkambia.Application.LoanMonitoring/ConsoleApp.Test/.vs
/Alkambia.Application.LoanMonitoring/ConsoleApp.Test/bin/Debug
