<?xml version="1.0" encoding="utf-8"?>
<information>
  <Server>AH84ATTdQMfWkc9say3a8Q==</Server>
  <Database>h377jRLNZ03UwebpqSKwx7AtKgy6IAIVkvt95fuLsIM=</Database>
  <Username>B34HqTC85t/PGBKcmSC8EA==</Username>
  <Password>B34HqTC85t/PGBKcmSC8EA==</Password>
  <ThemeUri>pack://application:,,,/MaterialDesignColors;component/Themes/Recommended/Primary/MaterialDesignColor.Orange.xaml</ThemeUri>
</information>