<?xml version="1.0" encoding="utf-8"?>
<information>
  <Server>uXX6XmrTIs9X0bVS+sDTzQ==</Server>
  <Database>Dqlz6tqDTL1qhdbEFRYlLQ==</Database>
  <Username>B34HqTC85t/PGBKcmSC8EA==</Username>
  <Password>B34HqTC85t/PGBKcmSC8EA==</Password>
  <ThemeUri>pack://application:,,,/MaterialDesignColors;component/Themes/Recommended/Primary/MaterialDesignColor.Orange.xaml</ThemeUri>
</information>